/*
.title {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    background-color: #F7F7FA;
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
    font-family: 'Lato', sans-serif;
}

ion-toolbar {
    --background: #F7F7FA;
}


ion-content {
    --background: #F7F7FA;
}

ion-icon {
    font-size: 45px;

}

ion-thumbnail {
    color: blue;
}

.apropos {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
    font-family: 'Lato',
        sans-serif;


}

.p-apropos {
    padding-left: 20px;
    font-family: 'Menlo Regular';
    color: #3c4b62;
    padding-right: 20px;
}

*/

.test0 {
    /*  margin-left: 340px;*/
    margin-top: 15px;
}

.header {
    height: 180px;
    background-color: #03A9F4;
    width: 100%;
    padding-top: 1px;
}

.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 7px solid #006bbf;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}

.tweet ion-label {
    line-height: 1.6 !important;
    font-size: 15px;
    margin: 6px 0px 6px 0px !important;
    min-height: 34px;
}

.tweet {
    margin-top: -10px !important;

}