<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="title">
            Messagerie
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-list>
        <ion-list-header>
            Conversations Récentes
        </ion-list-header>


        <ion-item>
            <ion-avatar slot="start">
                <img src="../assets/avatar-rey.png">
            </ion-avatar>
            <ion-label>
                <h2>Eya</h2>
                <h3>Mazelt nlawej...</h3>
                <p>Win tlawej enty beldhabet...</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../assets/avatar-leia.png">
            </ion-avatar>
            <ion-label>
                <h2>Laila</h2>
                <h3>Femma studio fl appart...</h3>
                <p>Ey jdod déja chouf tsawer...</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img src="../assets/avatar-ben.png">
            </ion-avatar>
            <ion-label>
                <h2>Bilel</h2>
                <h3>Ey marhba b benty</h3>
                <p>Ahla, najem nji nchouf el dar 3aychek...</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../assets/avatar-han.png">
            </ion-avatar>
            <ion-label>
                <h2>Ala</h2>
                <h3>Salut, ibtihel...</h3>
                <p>Femma S+2 b 800dt 9riba lil lac1...</p>
            </ion-label>
        </ion-item>


    </ion-list>

    <ion-list>
        <ion-list-header>
            En ligne
        </ion-list-header>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../assets/avatar-poe.png">
            </ion-avatar>
            <ion-label>
                <h2>Azer</h2>
                <h3>Bonjour...</h3>
                <p>Prix Studio 500dt...</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../assets/avatar-finn.png">
            </ion-avatar>
            <ion-label>
                <h2>Jalel</h2>
                <h3>Bonsoir, choft...</h3>
                <p>Dar ndhifa w nse3dik fl soum...</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../assets/avatar-luke.png">
            </ion-avatar>
            <ion-label>
                <h2>Ahmed</h2>
                <h3>Ahla, cv...</h3>
                <p>Femma S+3 b 1300dt fl lac2...</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../assets/avatar-yoda.png">
            </ion-avatar>
            <ion-label>
                <h2>Yoda</h2>
                <h3>Size matters not</h3>
                <p>Do or do not. There is no try...</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>


<!--
<ion-content [fullscreen]="true">


    <ion-list>
        <ion-list-header lines="inset">
            <ion-label>Récent</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label color="primary">
                <h1>Jalel Mejri</h1>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label color="primary">
                <h1>Ahmed Kouzrou</h1>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label color="primary">
                <h1>Asma Gannoushou</h1>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
-->