.title {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    background-color: #F7F7FA;
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
    font-family: 'Lato', sans-serif;
}

ion-toolbar {
    --background: #F7F7FA;
}


ion-content {
    --background: #F7F7FA;
}