<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="search"></ion-icon>
      <ion-label>Chercher</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>J'aime</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Publier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Messagerie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>