<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title class="title">
      Annonces aimées
    </ion-title>
  </ion-toolbar>
  <!--
  <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
    <ion-segment-button value="python">
      <ion-label>Colocataires </ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="javascript">
      <ion-label>Chambres </ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
-->

  <ion-segment [(ngModel)]="selectTabs">

    <ion-segment-button value="colocatairesSegment">
      <ion-label>Colocataires </ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="chambreSegment">
      <ion-label>Chambres </ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-segment-button>

  </ion-segment>


</ion-header>


<ion-content>
  <!--CHAMBRE SEGMENT-->

  <ion-content *ngIf="selectTabs=='chambreSegment'">

    <ion-card *ngFor="let house of houses">


      <ion-slides>


        <ion-slide>


          <img src="{{house.imageUrl}}" />


        </ion-slide>

      </ion-slides>
      <ion-button class="heart" fill="clear">
        <ion-icon color="danger" name="heart"></ion-icon>
      </ion-button>
      <ion-item>
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-card-title>{{house.price}} DT/Mois</ion-card-title>
      </ion-item>
      <ion-item>
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>S+ {{house.rooms}}</ion-label>
        <ion-item lines="none">
          <ion-icon name="scan-outline" slot="start"></ion-icon>
          <ion-label>{{house.surface}} m2</ion-label>
        </ion-item>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="location-outline" slot="start"></ion-icon>

        <ion-label>{{house.street}}</ion-label>
      </ion-item>


    </ion-card>



  </ion-content>






  <!--COLOCATAIRES SEGMENT-->


  <ion-content *ngIf="selectTabs == 'colocatairesSegment'">

    <ion-card *ngFor="let flatmate of flatmates">


      <img src="{{flatmate.imageUrl}}" />

      <ion-button class="heart" fill="clear">
        <ion-icon color="danger" name="heart"></ion-icon>
      </ion-button>



      <!--
      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" ios="heart" md="heart-sharp"></ion-icon>
            </ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
-->
      <ion-item>
        <ion-icon name="woman-outline" slot="start"></ion-icon>
        <ion-label>{{flatmate.name}}</ion-label>
        <ion-item lines="none">
          <ion-icon name="school-outline" slot="start"></ion-icon>
          <ion-label>{{flatmate.status}}</ion-label>
        </ion-item>
      </ion-item>

      <ion-item>
        <ion-icon name="search-circle-outline" slot="start"></ion-icon>
        <ion-label>{{flatmate.text}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>{{flatmate.place}}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        <ion-label>{{flatmate.budget}} DT</ion-label>
      </ion-item>


    </ion-card>



  </ion-content>






</ion-content>

<!-- 
<ion-content>
 
  <ion-card *ngFor="let house of houses">


    <ion-slides>


      <ion-slide *ngFor="let pic of pics">

        <img src="{{pic.imageUrl}}" />

      </ion-slide>

    </ion-slides>

    <ion-item>
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-card-title>{{house.price}} DT/Mois</ion-card-title>
    </ion-item>
    <ion-item>
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>S+ {{house.rooms}}</ion-label>
      <ion-item lines="none">
        <ion-icon name="scan-outline" slot="start"></ion-icon>
        <ion-label>{{house.surface}} m2</ion-label>
      </ion-item>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{house.street}}</ion-label>
    </ion-item>


  </ion-card>



</ion-content>

<ion-content>
  
  <div *ngIf="!data">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>


      <ion-item>

        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>

        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  

</ion-content>

-->