.title {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    background-color: #F7F7FA;
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
    font-family: 'Lato', sans-serif;
}

ion-toolbar {
    --background: #F7F7FA;
}


.test {
    height: 155px;
    /*background: linear-gradient(to right, #56ccf2, #2f80ed);*/
    background: linear-gradient(to right, #000046, #1cb5e0);
}

.test2 {
    height: 175px;
    background: linear-gradient(to left, #00c6ff, #0072ff);
    /*background: linear-gradient(to right, #000046, #1cb5e0);*/
}


ion-icon {
    color: white;
    font-size: 64px;
    padding: 20px;
}

.mid p {
    color: white;
    margin-top: 80px;
    margin-bottom: 0;
    padding: 20px;

    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    font-size: 1.2rem;

}


.chercher {
    text-align: left;


    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Menlo Regular';
    color: #3c4b62;
}

.pub {
    margin-top: auto;
    border-radius: 40px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

ion-content {
    --background: #F7F7FA;
}